/* /Footer .css/ */
* {
    color: #fff;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Estilos gerais para o footer */
.footer-container {
    background-color: #333;
    color: #fff;
    height: 450px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.footer-corpo{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.informations{
    min-width: 135px;
    margin-right: 102px;
    width: 135px;
    height: 278px;
}

.categorias{
    min-width: 135px;
    margin-right: 168px;
    width: 96px;
    height: 240px;
}

.contatos{
    min-width: 135px;
    width: 233px;
    height: 168px;
}


.primeira-parte{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 72px;
}


.primeira-parte img{
    width: 170px;
    height: auto;
    margin-bottom: 10px 0;
}


.primeira-parte p {
    width: 307px;
    height: 78px;
    margin-top: 33px;
    
}


.redes-sociais{
    display: flex;
    gap: 10px;
    margin-right: 20px;
}

.redes-sociais a img{
    width: 21px;
    height: 20px;
    
}


.redes-sociais a img:hover {
    transform: scale(1.1);
}

.elementos{
    display: flex;
    gap: 30px;
    flex: 2;
    min-width: 400px;
    justify-content: space-around;
}

.elementos h2 {
    font-size: 18px;
}

.elementos ul{
    list-style: none;
    margin-top: 38px;
    font-size: 16px;
}

.elementos li{
    margin-top: 12px;
}

.hr {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 88%; 

    hr {
        width: 100%;
        border: none;
        border-top: 1px solid #444;
        margin: 38px 0 0 0;
    }
}


.final{
    text-align: center;
    font-size: 14px;
    color: #888;
    margin-top: 10px 0;
}
.final p {
    margin: 0;
}

